

.row {
	text-align:center;
}

.col-xs-5, .col-xs-2, .col-xs-6 {
	
	font-size:25px;
}

.col-xs-4, .col-xs-8{
	padding-right:0px;
	padding-left:0px;
}
.col-xs-12 {
	text-align:center;
}
button {
	width:100%;
}

#joueur1, #score1 {
	background-color:#ffb3b3;
}

#joueur2, #score2 {
	background-color:aliceblue;
}